name: PackageVar

on:
  push:
    tags: 
      - v*

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Get the version
      id: get_version
      run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
    - name: Zip the release package
      id: zip
      run: |
        mkdir -p publish/Custom/Scripts/AcidBubbles/Scripter
        cd Scripter.Plugin
        cp -r src ../publish/Custom/Scripts/AcidBubbles/Scripter/
        cp *.cslist ../publish/Custom/Scripts/AcidBubbles/Scripter/
        cp meta.json ../publish/
        cd ../publish
        sed -i 's/v0.0.0/${{ steps.get_version.outputs.VERSION }}/' meta.json
        zip -r "AcidBubbles.Scripter.${{ github.run_number }}.var" *
    - name: GitHub release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        draft: true
        files: publish/AcidBubbles.Scripter.${{ github.run_number }}.var
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}